@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--font-size: 28px;
	--color: rgb(181, 181, 181);

	--gutter: calc(var(--font-size) * 2)
}


body {
	font-size: var(--font-size);
	padding-top: calc(var(--gutter) * 3);
	padding-right: var(--gutter);
	padding-left: var(--gutter);
	padding-bottom: calc(var(--gutter) * 2);
	display: flex;
	flex-direction: column;
	row-gap: var(--gutter);
	justify-content: space-between;
	height: 100vh;
	background-color: #0f0f0f;
	color: var(--color);
	font-family: 'Archivo', sans-serif;
}

li {
	margin-bottom: calc(var(--gutter) * 0.5);
}

li span{
	font-weight: 800;
	font-size: calc(0.75* var(--font-size))
	
}

a {
	color: rgb(255, 255, 255);
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	color: rgb(75, 75, 75);
	letter-spacing: 17px;
	text-decoration: none;
}

h1 {
	font-size: calc(var(--font-size) * 3);
	font-weight: 200;
}

h2 {
	font-size: calc(var(--font-size) * 0.75);
	font-weight: 200;
	padding-top: calc(var(--gutter) * 0.25);
}


footer {
	font-size: calc(var(--font-size) * 0.75);
	font-weight: 200;
}

.noise {
	position: fixed;
	inset: 0;
	height: 100%;
	opacity: 3%;
	z-index: -10;
}

.noise img {
	height: 100%;
}


@media (min-width: 600px) {
	:root {
		--font-size: 32px;
	}

	body {
		padding-left: 10%;
		padding-right: 10%;
	}
}